# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build
/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Replit specific
.replit
replit.nix

# OS specific files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.zip
*.tar.gz